*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body , html{
  height: 100%;
  width: 100%;
  background-color: #212121;
  color: white;
}
/*
#box{
  width: 300px;
  height: 400px;
  background: linear-gradient(orange,white,green);
  background: radial-gradient(white ,black);
  background: url(https://images.unsplash.com/photo-1516726817505-f5ed825624d8?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}
*/


#box1{
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
  /* absolute matlab div ko upar uthana aur ab div ko screen par kahi bhi move ker skte haim */
  top: 50%;
  left: 50%;
  /* absolute me parent root hota hai toh puri screen ke hisab se 50% left ,top shift hoga */
  transform: translate(-50% , -50%);
  z-index: 1;
  /* jiske sabse jyada z-index vo sabse upar hoga */
}
#box2{
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  top: 40%;
  left: 40%;
}
#box3{
  height: 200px;
  width: 200px;
  background-color: green;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 2;
  /* default :-vo div sabse last me hoga  html file me vo sabse upar hoga */
}

.parent1{
  height: 400px;
  width: 600px;
  background-color: red;
  position: relative;
  /* position :relative power deta hai parent div ko child div ko control krne ke liye */
}

.child{
  height: 200px;
  width: 200px;
  background-color: green;
  position: absolute;
  left: 50%;
  top: 50%;
}

#parent2{
  height: 100%;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#child1{
  height: 100px;
  width: 100px;
  background-color: crimson;
}
#child2{
  height: 100px;
  width: 100px;
  background-color:seagreen ;
}
#child3{
  height: 100px;
  width: 100px;
  background-color: skyblue;
}